<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <header>
        <nav class="navigation">

            <h1>Afghan Dreams Blog Hub</h1>
            <div class="notification" id="notification">Post submitted successfully!</div>
            <div class="notificationEdit" id="notificationEdit">Post updated</div>
            <div class="notificationDelete" id="notificationDelete">Post deleted successfully!</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a cloass="new" href="new-post">New Post</a></li>

            </ul>
        </nav>
    </header>
</body>

</html>